.agents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 1rem;
  padding: 1.625rem 2rem;
  width: 100%;
}

.agents__filter {
  padding: 0 2rem;
}

.agents__no-data {
  height: calc(100vh - 134px);
}