.filter {
  display: flex;
  gap: 8px;
  max-width: 100%;
  flex-wrap: wrap;
}

.filter__chip {
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: var(--fw-6);
  font-size: clamp(0.8rem, 0.5rem + 0.8vw, 0.875rem);
  color: #808080;
}

.filter__chip:not(.filter__chip--selected):hover {
  background-color: #EEEEEE;
}

.filter__chip--selected {
  background: #050505;
  color: #FFF;
}