.icon-button {
  font-size: 0.875rem;
  font-weight: var(--fw-5);
  line-height: 1rem;
  text-align: left;
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  background-color: #FFF;
  color: #050505;
}

.icon-button:not(:disabled):hover {
  background-color: #E5E5E5;
}

.icon-button:disabled {
  opacity: 0.6;
}